.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.stopButton {
  background: #ed4a4a;
  color: #fff;

  &:disabled {
    background: #f66a6a;
  }
}
